.DS_Store
Image-kopi.png
Image.png
RaceBox Track Sessionon 17-05-2024 10-04-2.csv
session.csv
smallsession.csv
__pycache__/commons.cpython-312.pyc
__pycache__/main.cpython-312.pyc
files/*
files
RaceBox Track Sessionon 17-05-2024 09-59.csv
RaceBox Track Sessionon 17-05-2024 09-59.csv.mov
RaceBox Track Sessionon 17-05-2024 10-04.csv
session copy.csv
__pycache__/commons.cpython-311.pyc
