annotated-types
anyio
black
cairocffi
CairoSVG
ffmpeg-python
future
idna
Jinja2
packaging
pathspec
pillow
pillow_heif
platformdirs
pycparser
python-dotenv
python-multipart
PyYAML
rich
rich-toolkit
shellingham
sniffio
typer
typing-inspection
typing_extensions
watchfiles
